.header-skip{
  position: relative;
  padding: 5px 0;
  background-color: #5b57a4;
  transform: translateY(-100%);
  & + .carer-header{
    margin-top: -35px;
  }
  &:focus-within,
  &:focus{
    top: 0;
    outline: 0;
    transform: translateY(0%);
    & + .carer-header{
      margin-top: 0;
    }
  }
  a{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.71;
    color: #fff;
    letter-spacing: normal;
    &:focus{
      padding: 0 5px;
      color: #fff !important;
      background: transparent;
      border: solid 3px #fff;
      outline: 0;

      &::after{
        display: none;
      }
    }
  }
}


.footer-skip{
  height: 0;
  background-color: #5b57a4;
  .footer-skip-container{
    padding: 5px 0;
  }

  &:focus-within,
  &:focus{
    height: 35px;
    outline: 0;
  }
  a{
    span{
      position: relative;
    }
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.71;
    color: #fff;
    letter-spacing: normal;
    &:focus{
      padding: 0 5px;
      color: #fff !important;
      background: transparent;
      border: solid 3px #fff;
      outline: 0;

      &::after{
        display: none;
      }
    }
  }
}

