@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
$heading-selectors: "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: $color-body;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;


  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
    p{
      margin-bottom: 0;
    }
a:not(.external-link):not(.footer a):not(.button):not(.button-outline):not(.media-link):not(.object-link):not(.video-transcript):not(.white-link){
  &.external-link{
    &::before{
      width: 82%;
    }
    &:focus{
      &::before {
        width: 110%;
      }

    }
  }
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: $secondary !important;
  letter-spacing: normal;
  &::before{
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    width: 100%;
    content: "";
    border-bottom: 1px solid $secondary;
  }

  &:hover{
    text-decoration: none;
    background-color: rgba(#fff, .15);

  }

  &:focus{
    &::before {
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      width: initial;
      content: "";
      border: solid 3px #0645ad;
    }
    text-decoration: none;
    outline: none;

  }

}

.white-link{
  position: relative;
  &:hover{
    text-decoration: none;
    background-color: rgba(#fff, .15);

  }
  &::before{
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline-block;
    width: 100%;
    content: "";
    border-bottom: 1px solid #fff;
  }
  &:focus{
    &::before {
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      width: initial;
      content: "";
      border: solid 3px #0645ad;
    }
    text-decoration: none;
    outline: none;

  }
}

h1,
h2,
h3,
h4,
p,
a,
li{
  color: #404040;
}

h1{
  font-size: 48px;
  font-weight: 700 !important;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  @media (max-width: 768px) {
    font-size: 36px !important;
  }
}

h2{
  font-size: 32px;
  font-weight: 700 !important;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  @media (max-width: 768px) {
    font-size: 28px !important;
  }
}

h3{
  font-size: 24px;
  font-weight: 700 !important;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  @media (max-width: 768px) {
    font-size: 22px !important;
  }
}

h4{
  font-size: 16px;
  font-weight: 700 !important;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;

}


.button{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: 15px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  letter-spacing: normal;
  background-color: $secondary;
  border: solid 3px  $secondary;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .65);
  transition: all .3s;
  &:hover,
  &:active{
    color: #fff;
    text-decoration: none;
    background: #28747f;
    border: solid 3px  #28747f;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .65);
  }
  &:focus{
    &::after {
      position: absolute;
      top: -8px;
      right: -11px;
      bottom: -11px;
      left: -8px;
      content: "";
      border: solid 3px #0645ad;
    }
    color: #fff;
    text-decoration: none;
    background-color: $secondary;
    border: solid 3px  $secondary;
    outline: none;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .65);
  }
}


.button-outline{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: 17px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  color: $headings-color;
  text-align: center;
  letter-spacing: normal;
  background-color: rgba(255, 255, 255, .05);
  border: solid 1px rgba(64, 64, 64, .17);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .4);
  transition: all .3s;
  &:hover,
  &:active{
    color: rgba(64, 64, 64, .75);
    text-decoration: none;
    background-color: rgba(64, 64, 64, .05);
    border: solid 1px rgba(64, 64, 64, .17);
    box-shadow: none;
  }
  &:focus{
    &::after {
      position: absolute;
      top: -8px;
      right: -11px;
      bottom: -11px;
      left: -8px;
      content: "";
      border: solid 3px #0645ad;
    }
    color: $headings-color;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .05);
    border: solid 1px rgba(64, 64, 64, .17);
    outline: none;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .65);
  }
}
.ext-icon{
  margin-top: -3px;
  margin-left: 10px;
}
