// Grid Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px
);

//Colors
$primary:  #5b57a4;
$secondary: #018392;

$color-headline: #404040;
$color-body: #404040;
$base-font-family: "Open Sans", sans-serif;
$enable-responsive-font-sizes: true;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-base:           $base-font-family;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base;
$font-size-sm:                $font-size-base;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                48px;
$h2-font-size:                32px;
$h3-font-size:                22px;
$h4-font-size:                16px;


$headings-font-family:        $base-font-family;
$headings-font-weight:        bold;
$headings-line-height:        1.2;
$headings-color:              $color-headline;
