@import "variables";
@import "typography";
@import "bootstrap/scss/bootstrap";
@import "icon-list";
@import "accessible-links";

// Global

.section-padding{
  padding: 75px 0;
}

.grey-background{
  background-color: rgba($primary, .05);
}

section{
  h2{
    padding-bottom: 30px;
    margin-bottom: 35px;
    border-bottom: 3px solid $secondary;
  }
}

// Header

.carer-header{
  padding: 12.5px 0;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  .logo{
    position: relative;
    &:focus-visible {
      outline: none;
      &::after {
        position: absolute;
        top: -8px;
        right: -11px;
        bottom: -11px;
        left: -8px;
        content: "";
        border: solid 3px #0645ad;
      }
    }
  }
}


.carer-gateway-banner{
  height: 500px;
  background: url("../images/header-hero@2x.webp") no-repeat center center;
  background-size: cover;
  border-bottom: 10px solid #ed779a;
  @media (max-width: 768px) {
    background: url("../images/m-img-header@2x.webp") no-repeat center center;
    background-size: cover;
  }
  .text-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;

    .highlight-heading{
      padding: 25px 40px;
      margin-bottom: 30px;
      background-color: #5b57a4;
      @media (max-width: 768px) {
        width: 100%;
      }
      h1{
        color: #fff;
      }
    }
  }

}

.external-link-dark{
  &::before{
    width: 82% !important;
  }
}

.button{
  &:hover,
  &:focus{
    .ext-icon{
      &::before{
        border: none !important;
      }
    }
  }
}
.ext-icon{
  &::before{
    border: none !important;
  }
}
.access-support{
  .two-column-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .left-column{
      max-width: 485px;
    }
  }
}

.call-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  span{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #404040;
  }
  a{
    display: inline-block;
    margin: 5px 0;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-stretch: normal !important;
    line-height: 1.25 !important;
    color: $secondary;
    text-decoration: none;
    letter-spacing: normal;
    &::before {
      position: absolute;
      bottom: 1px;
      left: 0;
      display: inline-block;
      width: 100%;
      content: "";
      border-bottom: 1px solid $secondary;
    }
    &:focus {
      outline: none;
      &::after {
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        content: "";
        border: solid 3px #0645ad;
      }
    }
    &:hover{
      text-decoration: none;
      background-color: rgba($secondary, .15);
    }
  }
}

.video-section{
  h2{
    border-bottom: 3px solid $primary;
  }
  .video-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(#656565, .05);
    .video-transcript{
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 600 !important;
      font-stretch: normal;
      line-height: 1.5 !important;
      color: #404040 !important;
      text-decoration: underline;
      letter-spacing: normal;
      &::after{
        margin-top: 5px;
        margin-left: 10px;
        content: url("../images/icon-arrowdown-purple.svg");
      }
      &:hover{
        text-decoration: underline;
        background-color: rgba(#656565, .15);
      }
      &:focus{
        &::before {
          position: absolute;
          top: -8px;
          right: -11px;
          bottom: -11px;
          left: -8px;
          content: "";
          border: solid 3px #0645ad;
        }
        outline: none;
      }
    }
    .video-time{
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #404040;
        &::before{
          margin-top: 6px;
          margin-right: 10px;
          content: url("../images/icon-clock.svg");
        }
      }
    }
  }
}


.support-types{
  h2{
    border-bottom: 3px solid #ed779a;
  }
  .support-footer{
    a{
      text-decoration: none;
      &:focus,
      &:focus-within{
        width: 100% !important;
      }

    }
    h3{
      margin-bottom: 12px;
      font-size: 22px;
    }
    &:focus,
    &:focus-within{
      outline: none;
    }
  }
  .support-items{
    display: grid;
    padding: 70px 0;
    margin: 0 auto;
    grid-gap: 40px;
    &:focus,
    &:focus-within{
      outline: none;
    }
    .support-item{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px;
      &:focus,
      &:focus-within{
        padding: 10px;
        background-color: rgba(101, 101, 101, .05);
        outline: none;
      }
      .item-content{
        max-width: 375px;
        h3{
          margin-bottom: 12px;
          font-size: 22px;
        }
      }
      .item-graphic{
        margin-right: 25px;
      }
    }
  }
  @media (min-width: 768px) {
    .support-items { grid-template-columns: repeat(2, 1fr); }
  }
}

.know-more{
  .left-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $secondary;
    .cta-content{
      max-width: 450px;
      margin-right: 50px;
      @media (max-width: 768px) {
        max-width: 100%;
        padding: 20px;
        margin-right: 0 !important;
      }
      h2{
        color: #fff;
        border-bottom: 3px solid #fff;
      }
      p{
        margin-bottom: 1rem;
        color: #fff;
        a{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-decoration: underline;
          &::after{
            margin-top: 8px;
            margin-left: 5px;
            content: url("../images/ext-icon.svg");

          }
          &:hover{
            background-color: rgba(#fff, .3);
          }
          &:focus{
            position: relative;
            &::before {
              position: absolute;
              top: 0px;
              right: -6px;
              bottom: -3px;
              left: -6px;
              width: initial;
              content: "";
              border: solid 3px #fff;
            }
            text-decoration: none;
            outline: none;

          }
        }
      }
      .call-details-white{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 20px;
        span{
          color: white;
        }
        a{
          display: inline-block;
          margin: 5px 0;
          font-size: 24px !important;
          font-style: normal !important;
          font-weight: 700 !important;
          font-stretch: normal !important;
          line-height: 1.25 !important;
          color: #fff;
          text-decoration: none;
          letter-spacing: normal;
          &::before {
            position: absolute;
            bottom: 1px;
            left: 0;
            display: inline-block;
            width: 100%;
            content: "";
            border-bottom: 1px solid #fff;
          }
          &:focus {
            outline: none;
            &::before{
              border: none;
            }
            &::after {
              position: absolute;
              top: -4px;
              right: -4px;
              bottom: -4px;
              left: -4px;
              content: "";
              border: solid 3px #fff;
            }
          }
          &:hover{
            text-decoration: none;
            background-color: rgba(#fff, .15);
          }
        }
      }

      .button-outline{
        color: $headings-color;
        text-align: center;
        letter-spacing: normal;
        background-color: #fff;
        border: solid 1px rgba(64, 64, 64, .17);
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .4);
        &:focus,
        &:focus-within{
          &::after{
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            content: "";
            border: solid 3px #fff;
          }
        }
        &:hover,
        &:active{
          color: rgba(64, 64, 64, .75);
          text-decoration: none;
          background-color: rgba(255, 255, 255, .75);
          border: solid 1px rgba(255, 255, 255, .75);
          box-shadow: none;
        }
      }
    }
  }
  .media-background{
    height: 500px;
    background: url("../images/know-more@2x.webp") no-repeat top left;
    background-size: cover;
    @media (max-width: 768px) {
      background: url("../images/m-knowmore@2x.webp") no-repeat center center;
      background-size: cover;
    }
  }
}

.local-providers{
  h3{
    margin-bottom: 20px;
  }
}

.footer{
  position: relative;
  padding: 60px 0;
  background-color: $primary;
  a{
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #fff;
    text-decoration: underline;
    letter-spacing: normal;
    &:focus,
    &:focus-within{
      outline: none;
      &::after{
        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        content: "";
        border: solid 3px #fff;
      }
    }

    &:hover{
      background-color: rgba(#fff, .15);
    }

  }
}

.footer-branding{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .footer-logo{
    a{
      display: inline-block;
      &:hover{
        background-color: transparent;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      margin-top: 30px;
    }
    .privacy-links{
      margin-right: 20px;
      a{
        &:last-child{
          margin-left: 20px;
        }
      }

    }
    .social-links{
      a{
        margin-left: 5px;
      }
    }

  }
  .media-enquiries-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    span{
      color: #fff;
    }

  }
}

.delivered-by-logos{
  margin-top: 30px;
  span{
    color: #fff;
  }
  .logos-wrapper{
    .logo{
      margin-top: 15px;
      a{
        display: inline-block;
        &:hover{
          background-color: transparent;
        }
      }
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 40px;
    margin-top: 25px;
    > div {
      display: grid;
      place-items: center;
      img {
        max-width: 150px;
        // height: 100%;
        // object-fit: contain;
        grid-area: 1 / 1 / 2 / 2;
      }
    }
  }
}

.disclaimer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  span{
    color: #fff;
  }

  .top-icon{
    margin-left: 10px;

  }
  .back-top{
    a{
      span{
        &::before{
          border-bottom: none !important;
        }
      }
    }
  }
}

.visit-gateway{
  &.section-padding{
    padding-top: 0;
  }
  .container{
    .visit-gateway-wrapper{
      padding: 35px;
      border: solid 3px #5b57a4;
      .content-wrapper{
        max-width: 720px;
        margin: 0 auto;
      }
      h3{
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #5b57a4;
        a{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #5b57a4;
          text-decoration: underline;
          &::after{
            margin-top: 8px;
            margin-left: 5px;
            content: url("../images/button-external-purp.svg");

          }
          &:hover{
            background-color: rgba(#5b57a4, .3);
          }
          &:focus{
            position: relative;
            &::before {
              position: absolute;
              top: 0px;
              right: -6px;
              bottom: -3px;
              left: -6px;
              width: initial;
              content: "";
              border: solid 3px #5b57a4;
            }
            text-decoration: none;
            outline: none;

          }
        }
      }
    }
  }
}
